.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--hlc-primary-color);
  width: 180px;
  height: 120px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 0.75rem;
}

.summary-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.icon .material-icons {
  font-size: 70px;
  color: var(--hlc-white);
  opacity: 50%;
}

.summary-card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--hlc-white);
}

.summary-card-content .title {
  overflow: hidden;
  max-width: 70%;
  font-size: 16px;
  font-weight: normal;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summary-card-content .quantity {
  font-size: 16px;
  font-weight: bold;
}