<div class="add-asset-container">
  <h2>Registrar activo</h2>

  <form action="" [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="general-form-container">
    <div class="form-container">
      <div class="left-container">
        <mat-form-field class="input-container">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nombre" placeholder="Juan Herrera..." />
          @if (assetForm.get('nombre')?.touched && assetForm.get('nombre')?.invalid) {
          <mat-error>El nombre es requerido</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="input-container">
          <mat-label>Precio</mat-label>
          <input type="number" matInput formControlName="precio" placeholder="1000..." />
          @if (assetForm.get('precio')?.touched && assetForm.get('precio')?.invalid) {
          <mat-error>El precio es requerido</mat-error>
          }
        </mat-form-field>
        <app-drop-down-component
          [labelTitle]="'Ejemplo'"
          [dataArray]="[{ id: 1, name: 'categoria 1' }]"
          [errorMessage]="'La categoría es requerida'"
          (selectionChange)="setCategory($event)"
        />

        <mat-form-field class="input-container">
          <mat-label>Número serial</mat-label>
          <input type="text" matInput formControlName="serial" placeholder="A5210..." />
          @if (assetForm.get('serial')?.touched && assetForm.get('serial')?.invalid) {
          <mat-error>El serial es requerido</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="input-container">
          <mat-label>Marca</mat-label>
          <input type="text" matInput formControlName="marca" placeholder="Marca..." />
          @if (assetForm.get('marca')?.touched && assetForm.get('marca')?.invalid) {
          <mat-error>La marca es requerida</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="right-container">
        <mat-form-field class="input-container">
          <mat-label>Modelo</mat-label>
          <input type="text" matInput formControlName="modelo" placeholder="Modelo..." />
          @if (assetForm.get('modelo')?.touched && assetForm.get('modelo')?.invalid) {
          <mat-error>El modelo es requerido</mat-error>
          }
        </mat-form-field>

        <div class="upload-image-container">
          <label
            class="upload-box"
            for="fileInput"
            [style.background-image]="imageUrl ? 'url(' + imageUrl + ')' : 'none'"
          >
            @if(!imageUrl){
            <span>Haz click para subir imagen</span>
            }
          </label>

          @if(imageUrl){
          <button class="delete-item" (click)="removeImage()">
            <span class="material-icons"> delete </span>
          </button>
          }

          <input
            type="file"
            id="fileInput"
            accept="image/*"
            (change)="onFileSelected($event)"
            hidden
          />
        </div>
      </div>
    </div>
    <button class="submit-asset-button" type="submit">Registrar</button>
  </form>
</div>
