.add-asset-container {
  background-color: var(--hlc-background-color);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.general-form-container {
  width: 50%;
}
.form-container {
  display: flex;
  justify-content: space-between;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
}

.upload-image-container {
  width: 100%;
  height: 55%;
  background-color: var(--hlc-input-background-color);
  border-radius: 12px;
  position: relative;
}
.upload-box {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--hlc-border-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-color: var(--hlc-input-background-color);
  transition: 0.3s ease;
  text-align: center;
  font-size: 16px;
  color: var(--hlc-text-primary-color);
  position: relative;
}

.delete-item {
  position: absolute;
  right: 0;
  padding: 5px;
  bottom: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--hlc-error-color);
  transition: color 0.5s ease;
}

.delete-item:hover {
  color: var(--hlc-primary-color);
}

.submit-asset-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: var(--hlc-primary-color);
  color: var(--hlc-white);
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.submit-asset-button:hover {
  transform: scale(1.02);
}
