<nav class="navBar">
  <div class="burger" (click)="isOpen = !isOpen; drawer.toggle()" [class.open]="isOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="logo-container">
    <img src="assets/logo.svg" alt="LOGO" width="20" height="20" />
    <h3>HIVENTORY</h3>
  </div>
</nav>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" (openedChange)="isOpen = $event">
    <div class="drawer-content">
      <a
        routerLink="/pandelControl"
        routerLinkActive="selected-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="default-link"
      >
        <span class="material-icons">dashboard</span>
        Panel de control
      </a>
      <a
        routerLink="/activos"
        routerLinkActive="selected-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="default-link"
      >
        <span class="material-icons"> description </span>
        Registrar activos
      </a>
      <a
        routerLinkActive="selected-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/activos"
        class="default-link"
      >
        <span class="material-icons"> source </span>
        Activos</a
      >
      <a
        routerLinkActive="selected-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/cambioContrasena"
        class="default-link"
      >
        <span class="material-icons"> settings </span>
        Cambiar contraseña</a
      >
      <div class="close-sesion-container">
        <a
          routerLinkActive="selected-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/cerrarSesion"
          class="default-link"
        >
          <span class="material-icons"> arrow_circle_left </span>
          Cerrar sesión</a
        >
      </div>
    </div>
  </mat-drawer>

  <div>Contenido</div>
</mat-drawer-container>
