
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--hlc-neutral-text-color);
  height: 44px;
}

.example-container {
  height: 100vh;
}

.example-sidenav {
  padding: 20px;
  background-color: var(--hlc-surface-color);
}

.drawer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: var(--hlc-black);
  transition: background-color 0.5s ease;
}
.link-close{
  justify-content: center;
}

a:hover {
  background-color: var(--hlc-primary-color);
  color: var(--hlc-white);
}

.default-link {
  background-color: var(--hlc-surface-color);
}

.selected-link {
  background-color: var(--hlc-primary-color);
  color: var(--hlc-white);
}

.close-sesion-container {
  margin-top: auto;
}
.open-menu-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.burger {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
  gap: 7px;
  height: 44px;
  transition: transform 0.3s ease;
}
