:root{
    --hlc-primary-color:#059669;
    --hlc-secondary-color:#7AA9EF;
    --hlc-background-color:#FFFFFF;
    --hlc-surface-color:#F1F1F1;
    --hlc-error-color:#DC2626;
    --hlc-warning-color:#E0BF52;
    --hlc-info-color:#2563EB;
    --hlc-neutral-red-color:#F75050;
}


html, body { height: 100%; background-color: var(--hlc-background-color); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-card.mat-mdc-card { 
  background-color: var(--hlc-primary-color) !important;
  color: var(--hlc-background-color) !important;
}

.red-card.mat-mdc-card { 
  background-color: var(--hlc-neutral-red-color) !important;
  color: var(--hlc-background-color) !important;
}

.warning-card.mat-mdc-card { 
  background-color: var(--hlc-warning-color) !important;
  color: var(--hlc-background-color) !important;
}
