:root{
    --hlc-primary-color:#059669;
    --hlc-secondary-color:#7AA9EF;
    --hlc-background-color:#FFFFFF;
    --hlc-surface-color:#F1F1F1;
    --hlc-error-color:#DC2626;
    --hlc-warning-color:#E0BF52;
    --hlc-info-color:#2563EB;
    --hlc-neutral-red-color:#F75050;
    --hlc-neutral-text-color:#404040;
    --hlc-black:#000000;
    --hlc-white:#ffffff;
    --hlc-input-background-color:#e0e2ec;
    --hlc-border-color:#999;
    --hlc-text-primary-color:#333;
}


html, body { height: 100%; background-color: var(--hlc-background-color); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

