.add-category-container {
  margin-inline: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.general-form-container {
  width: 70%;
  margin-top: 50px;
}

.content-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.submit-category-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: var(--hlc-primary-color);
  color: var(--hlc-white);
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.submit-category-button:hover {
  transform: scale(1.02);
}
