<div class="add-category-container">
  <h2>Agregar nueva categoría</h2>

  <form action="" [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="general-form-container">
    <div class="content-form-container">
      <mat-form-field class="input-container">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" placeholder="Juan Herrera..." />
        @if (categoryForm.get('nombre')?.touched && categoryForm.get('nombre')?.invalid) {
        <mat-error>El nombre es requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea
          formControlName="descripcion"
          matInput
          placeholder="Descripción"
          rows="5"
        ></textarea>
        @if (categoryForm.get('descripcion')?.touched && categoryForm.get('descripcion')?.invalid) {
        <mat-error>La descripción es requerida</mat-error>
        }
      </mat-form-field>
    </div>
    <button class="submit-category-button" type="submit">Registrar</button>
  </form>
</div>
